/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Rock+Salt&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --dark-color: #171721;
    --dark-color-lighter: #7E8299;
    --accent-color: #22beaa;
    --body-background-color: #202028;
    --border-bottom-color: rgba(255,255,255,.05);
    --transparent-button-color: rgba(255,255,255,.1);
    --font-size-small: 1.4rem;
    --font-size-normal: 1.6rem;
    --font-size-medium: 2rem;
    --font-size-large: 2.4rem;
    --font-family: 'Poppins', sans-serif;
    --margin-small: 1rem;
    --margin-medium: 1.5rem;
    --gap-small: 1rem;
    --gap-medium: 2.5rem;
}

.theme-light{
    --light-color: #171721;
    --dark-color: #fff;
    --dark-color-lighter: #7E8299;
    --body-background-color: #eef0f8;
    --border-bottom-color: rgba(23,23,23,.05);
    --transparent-button-color: var(--accent-color);
}
/* Base styles */
*,
*::before
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    color: var(--light-color);
    line-height: 1.5;
    background-color: var(--body-background-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

button{
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

i{
    font-size: var(--font-size-large);
    line-height: 0;
}

/* Reusable classes */
.container{
    max-width: 134rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-container{
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.d-grid{
    display: grid;
}

/* Floating background image */
.floating-background-image{
    width: 100%;
    height: 45rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.floating-background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header */
.header{
    background-color: var(--dark-color);
}

.nav{
    height: 6rem;
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    font-size: var(--font-size-medium);
}

.align-right{
    margin-left: auto;
    background-color: var(--accent-color);
    border-radius: .4rem;
}

.icon-btn{
    width: 3.5rem;
    height: 3.5rem;
}

.theme-dark-icon{
    display: none;
}

.nav-mobile{
    width: 100%;
    height: 100vh;
    background-color: var(--light-color); 
    position: fixed;
    top: 0;
    left: 0;
    padding: 2.5rem;
    transform: translateX(-105%); 
    z-index: 999;
    transition: transform .5s;
}

.list{
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.list-link{
    display: inline-block;
    font-size: var(--font-size-small);
    color: var(--dark-color-lighter);
    padding: 1rem 1.5rem;
}

.current{
    color: var(--dark-color);
}

.menu-toggle-close{
    background-color: var(--body-background-color);
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

.dropdown-menu{
    background-color: #eef0f8;
    gap: 0;
    margin-left: 1.5rem;
    transform: translateY(-3px);
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: transform .5s;
}

.dropdown > .list-link i{
    transition: tranform .25s;
}

/* JavaScript styles */
.nav-mobile.active{
    transform: translateX(0);
}

.theme-light .theme-dark-icon{
    display: block;
}

.theme-light .theme-sub-icon{
    display: none;
}

.dropdown > .list-link i{
    transform: rotate(90deg);
}

.dropdown.active .dropdown-menu{
    height: initial;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

/* Welcome message */
.card{
    background-color: var(--dark-color);
    padding: 2.5rem;
    border-radius: .4rem;
    box-shadow: 0 0 3rem 0 rgba(82, 63, 105, -1);
}

.title{
    font-size: var(--font-size-normal);
    margin-bottom: var(--margin-small);
}

.independent-title{
    font-size: var(--font-size-medium);
    color: var(--light-color);
    padding: 2.5rem 0 1.25rem;
}

.main-title{
    font-size: var(--font-size-large);
}

.card-header{
    padding-block: 1rem;
    margin-bottom: var(--margin-medium);
    border-bottom: 1px solid var(--border-bottom-color);
}

.card-header small{
    font-size: 1.2rem;
    color: #7E8299;
}

.card-header .title{
    margin-bottom: 0;
}

.card-image{
    padding: 2.5rem;
}

.card-description {
    font-size: var(--font-size-small);
    margin-bottom: var(--margin-small);
}
    
/* Management area */
.management-area{
    padding-block: 2.5rem;
}

.management-area-container, .card-group{
    gap: var(--gap-medium);
}

.management-area .card-header{
    border-bottom: none;
}

.card-body-link{
    font-size: var(--font-size-small);
    background-color: var(--accent-color);
    margin-bottom: var(--margin-medium);
    padding: 1.5rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.card-group .card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 17.5rem;
    border-radius: .4rem;
}

.card-group .card::after{
    content: '';
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: -2px;
    right: -2px;
    z-index: -1;
    border-radius: inherit;
}

.border-green::after{
    background-image: linear-gradient(235deg, var(--accent-color), transparent, var
    (--dark-color));
}

.border-yellow::after{
    background-image: linear-gradient(235deg, #feba5b, transparent, var
    (--dark-color));
}

.border-orange::after{
    background-image: linear-gradient(235deg, #eb786c, transparent, var
    (--dark-color));
}

.border-pink::after{
    background-image: linear-gradient(235deg, #f11db2, transparent, var
    (--dark-color));
}

.card-group .card-description{
    margin-bottom: var(--margin-medium);
}

.card-group .list-link{
    background-color: var(--transparent-button-color);
    color: var(--light-color);

}
/* Footer */
.footer{
    font-size: var(--font-size-small);
    color: var(--dark-color-lighter);
    background-color: var(--dark-color);
    padding: 1.35rem 0;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.footer .list-link{
    padding-left: 0;
}

.copyright-information{
    order: 1;
}
/* Scrollbar */
::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color: #3f4254;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #2e303b;
}


/* Media queries */
@media screen and (min-width: 768px) {
    .nav{
        height: 7rem;
    }
    
    .independent-title{
        font-size: var(--font-size-large);
        padding: 4rem 0 2rem;
    }

    .card-body{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: var(--gap-medium);
        padding-block: 2.5rem;
    }

    .card-image{
        padding: 0;
    }

    .card-image img{
        max-width: 80%;
        margin: auto;
    }

    .management-area-container{
        grid-template-columns: 35rem 1fr;
    }

    .footer-container{
        flex-direction: row;
        align-items: center;
    }

    .copyright-information{
        order: 0;
    }

    .footer .list{
        flex-direction: row;
        margin-left: auto;
    }

    .footer .list-link{
        padding-left: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu-toggle-btn{
        display: none !important;
    }

    .nav-mobile{
        width: initial;
        height: initial;
        background-color: initial;
        position: initial;
        transform: initial;
        transition: initial;
    }

    .nav-mobile > .list{
        flex-direction: row;
        margin-left: 4rem;
    }

    .list-link,
    .card-body-link{
        transition: color .25s, background-color .25s;
    }

    .nav-mobile .list-link{
        border-radius: .4rem;
    }

    .current,
    .nav-mobile .list-link:hover,
    .nav-mobile .list-link:focus{
        background-color: var(--accent-color);
        color: var(--light-color);
    }

    .dropdown{
        position: relative;
    }

    .dropdown.menu{
        width: 25rem;
        height: initial;
        background-color: var(--light-color);
        padding: 1.5rem;
        margin-left: 0;
        border-radius: .4rem;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(.8rem);
        box-shadow: 0 0 3rem rgba(23, 23, 23, .2);
        transition: transform .25s, opacity .25s;
    }

    .dropdown.active .dropdown-menu{
        transform: translateY(1.5rem);
    }

    .dropdown-menu .list-link{
        display: block;
    }

    .card-body-link:hover{
        background-color: #1ba190;
    }

    .card-group{
        grid-template-columns: repeat(2, 1fr);
    }

    .border-green{
        grid-column: 1/-1;
    }

    .border-yellow,
    .border-orange{
        grid-column: 1/2;
    }

    .border-pink{
        grid-column: 2/-1;
        grid-row: 2/4;
    }

    .card-group .list-link:hover{
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .footer .list-link:hover{
        color: var(--accent-color);
    }
  
 
}